{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

<div>
    <nav class="">
        <div class="flex justify-between">
            <a href="{{ path('app_home') }}"> <img src="{{ asset('img/logo-ski.png') }}" alt="Logo Ski Resorts" class="w-24 md:w-32 lg:w-40 xl:w-48"></a>
                
            <div class="flex justify-between items-center">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}">Tableau de bord</a>
                {% endif %}
            </div>
            </div>
            <div class="pb-[5px]">
            <a href="{{ path('app_home') }}">Catégories</a>
            <a href="{{ path('show_topic') }}">Sujets</a>
            <a href="{{ path('show_post') }}">Commentaires</a>
        </div>
    </nav>    
</div>

<div class="bg-cover h-80 flex flex-col justify-center items-center" style="background-image: url('{{ asset('img/banner01.jpg') }}');"> 
    <h1 class="mb-8 col-span-full tracking-custom">Connexion</h1>
</div>

<div class="mx-auto max-w-screen-lg my-10 bg-white shadow-lg p-6 flex flex-col">

        <label for="username">Votre adresse mail</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        <button class="btn btn-lg btn-primary  m-50" type="submit">
            Valider
        </button>
    </form>
    <div class="flex flex-col"> 
        <p class=""><a class="" href="">Mot de passe oublié ?</a> </p>
        <p class="">Pas encore de compte? Inscrivez-vous <a class="" href="{{ path('app_register')}}">ici</a> </p>
    </div>

</div>


{% endblock %}
