{% extends 'base.html.twig' %}

{% block title %}Page de tous les topics{% endblock %}

{% block body %}

<div>
    <nav class="">
        <div class="flex justify-between">
            <a href="{{ path('app_home') }}"> <img src="{{ asset('img/logo-ski.png') }}" alt="Logo Ski Resorts" class="w-24 md:w-32 lg:w-40 xl:w-48"></a>
                
            <div class="flex justify-between items-center">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}">Tableau de bord</a>
                {% endif %}
            </div>
         </div>
         <div class="pb-[5px]">
            <a href="{{ path('app_home') }}">Catégories</a>
            <a href="{{ path('show_topic') }}">Sujets</a>
            <a href="{{ path('show_post') }}">Commentaires</a>
        </div>
    </nav>    
</div>

<div class="bg-cover h-80 flex flex-col justify-center items-center" style="background-image: url('{{ asset('img/banner01.jpg') }}');"> 
    <div class="absolute inset-0 flex flex-col justify-center items-center bg-black bg-opacity-50">
        <h1 class="mb-8 col-span-full tracking-custom">Tous les sujets</h1>
    </div>
</div>


<div class="mx-auto max-w-screen-lg my-10 bg-white shadow-lg p-6">
  {% for topic in topics %}
      <div class="mb-6">
          <div class="flex justify-between">
              <div class="flex flex-col">
                  <h3 class="text-xl font-bold mb-2">
                    <a href="{{ path('app_topic', {'categoryId': categories[topic.id].id, 'topicId': topic.id}) }}" class="text-blue-900 hover:text-blue-dark pr-0 pl-0">{{ topic.title }}</a>
            </h3>
                  <p class="text-sm text-gray-600">Posté par {{ topic.user.pseudo }}</p>
              </div>
              <p class="text-sm text-gray-600">{{ topic.dateCreationTopic|date('d-m-Y') }}</p>
          </div>

          <hr class="my-4 border-gray-300">
      </div>
  {% endfor %}
</div>

{% if not app.user %}
    <div class="italic border border-gray-300 max-w-screen-lg mx-auto p-4 text-center mb-5">
        <p class="text-center">Vous devez vous connecter pour ajouter un sujet</p>
    </div>
{% endif %}



{% endblock %}
